<h1>Bienvenido a tu perfil putito <%= @user.username %></h1>

<p><strong>Descripcion:</strong> <%= @user.description %></p>
<p><strong>Lo que te interesa:</strong> <%= @user.interests %></p>
<p><strong>De donde vienes:</strong> <%= @user.school %></p>